{% extends "service/base.html" %}
{% block content %}
      <div class="container-fluid p-1 bg-success text-white text-center">
        <div class="row">
            <div class="col-md-12">
                <h1>Надоела бесконечная уборка! Вызывайте нас!</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-3"></div>
             <div class="col-6">
                 <div>
    <form action="" method="POST">
        {% csrf_token %}
        <p>
         <label for="room">Введите количество жилых комнат:</label>
        <input type="text" name="room" id="room">
        </p>
        <p>
        <label for="san_room">Введите количество санузлов:</label>
        <input type="text" name="san_room" id="san_room">
        </p>
            <p><button type="submit">Рассчитать</button></p>
    </form>
                     {% if calculate %}
                        <p><h2>Результат: {{ calculate }} руб.</h2></p>
                     {% endif %}
    </div>

            </div>
            <div class="col-3"></div>
        </div>
        <div class="row text-center text-warning">
            <h1><a href="{% url 'order_create' %}">Расчитать уборку</a></h1>
        </div>
      </div>
    <div class="container-fluid p-1 bg-secondary text-white text-center border border-primary">
        <h2>У нас вы получите:</h2>
        <div class="row">
            <div class="col-md-4">
                <h3>Многолетний стаж работы в клининге</h3>
            </div>
            <div class="col-md-4">
                <h3>Возможность выбора персонального клинера</h3>
            </div>
            <div class="col-md-4">
                <h3>Только опытнеёших клинеров прошедших отбор</h3>
            </div>
        </div>
    </div>
    <div class="container-fluid p-1 bg-success text-white text-center">
        <h3>Мы с боьшим трепетом относимся к уборке вашего дома т.к понимаем насколько это важно для вас! </h3>
        <div class="row text-start">
            <li>У нас Вы можете выбрать подходящих вам 2-3 клинеров и закрепить их за собой.</li>
        </div>
        <div class="row text-start">
            <li>Если вам что-то не понравится, то мы готовы переделать уборку бесплатно или вернуть деньги, не задавая лишних вопросов.</li>
        </div>
        <div class="row text-start">
            <li>У нас работают обученные клинеры, а не “уборщицы”. Тактичность, приветливость и внимательность к мелочам для нас важны не меньше, чем качество мытья полов.</li>
        </div>
    </div>
    <div class="container-fluid p-1 bg-success text-white text-center">
        <div class="row">
            <h2>Наши клинеры не подведут вас в любой ситуации</h2>
            <h4>Смело можем сказать, что наши клинеры — это не люди с улицы. Каждый из них прошёл обучение и обязательную стажировку для того, чтобы стать частью нашей команды. Убедитесь в этом и Вы!</h4>
        </div>
        <div class="row border border-primary">
            <div class="col-md-4">
                <img src="{{ worker.photo.url }}" alt="" width="170" height="170">
            </div>
            <div class="col-md-8">
                <h5>{{worker.first_name}}, работает клинером {{worker.experience}} года.</h5>
                <h5>{{ worker.work_story}}</h5>
            </div>
        </div>
    </div>
    <div class="container-fluid p-1 bg-success text-white text-center">
        <h2>Что входит в стандартную уборку?</h2>
        <div class="row">
            <div class="col-3 text-start">
                <h5>Комната:</h5>
                <li>убираем мусор</li>
                <li>складываем вещи в доступных местах (внутрь шкафов не заглядываем!)</li>
                <li>меняем постельное белье и заправляем кровати</li>
                <li>убираем пыль со всех открытых поверхностей (шкафов, полок, картин, дверных косяков и т.д.)</li>
            </div>
            <div class="col-3 text-start">
                <h5>Кухня:</h5>
                <li>Протираем все доступные поверхности, включая фасад кухни, холодильника и микроволновки</li>
                <li>Моем плиту и столешницу</li>
                <li>Протираем подоконники, батареи, плинтусы, двери, ручки, выключатели</li>
                <li>Моем пол</li>
            </div>
            <div class="col-3 text-start">
                <h5>Санузел:</h5>
                <li>Протираем все доступные поверхности, выключатели и дверные ручки</li>
                <li>Моем и дезинфицируем унитаз</li>
                <li>Моем душевую кабину, ванную, краны</li>
                <li>Чистим зеркала и стеклянные поверхности</li>
            </div>
            <div class="col-3 text-start">
                <h5>Коридор:</h5>
                <li>Протираем все доступные поверхности</li>
                <li>Протираем плинтусы, двери, ручки, выключатели</li>
                <li>Моем пол</li>
                <li>Моем зеркала</li>
            </div>
        </div>
    <div class="container-fluid p-1 bg-secondary text-white text-center border border-primary">
        <h2>96% клиентов очень довольны: 48 подлинных отзывов о КлинниБогини на Фейсбуке</h2>
        <div class="row">
            <div
        </div>
    </div>
    </div>
</body>
{% endblock %}
